<a href="https://colab.research.google.com/github/camilasp/Previsao_COVID-19/blob/master/notebooks/Limpeza_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Limpeza dos dados e download dos datasets criados**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files

In [ ]:
dados_full = pd.read_csv("https://github.com/camilasp/Previsao_COVID-19/blob/master/dados/caso_full.zip?raw=true", compression = 'zip')

In [ ]:
 dados_full['date'] = pd.to_datetime(dados_full['date'],format='%Y-%m-%d')

In [ ]:
dados = dados_full.copy().dropna()

In [ ]:
mapa = {'new_confirmed': 'casos_novos', 'last_available_confirmed':'casos', 'new_deaths':'obitos_novos', 'last_available_deaths':'obitos'}
dados.rename(columns=mapa, inplace=True)

In [ ]:
dados.head()

         city  city_ibge_code       date  ...  state  casos_novos  obitos_novos
0  Rio Branco       1200401.0 2020-03-17  ...     AC            3             0
2  Rio Branco       1200401.0 2020-03-18  ...     AC            0             0
4  Rio Branco       1200401.0 2020-03-19  ...     AC            1             0
6  Rio Branco       1200401.0 2020-03-20  ...     AC            3             0
8  Rio Branco       1200401.0 2020-03-21  ...     AC            4             0

[5 rows x 18 columns]

In [ ]:
dados_resumido= dados[['city', 'state', 'date', 'casos', 'casos_novos', 'obitos', 'obitos_novos']]

In [ ]:
dados_sp = dados_resumido.query('state == "SP"')

In [ ]:
dados_sp.head()

              city state       date  casos  casos_novos  obitos  obitos_novos
1995467  São Paulo    SP 2020-02-25      1            1       0             0
1995469  São Paulo    SP 2020-02-26      1            0       0             0
1995471  São Paulo    SP 2020-02-27      1            0       0             0
1995473  São Paulo    SP 2020-02-28      2            1       0             0
1995475  São Paulo    SP 2020-02-29      2            0       0             0

In [ ]:
dados_botucatu = dados_resumido.copy().query('city=="Botucatu" & state=="SP"')

In [ ]:
dados_botucatu

             city state       date  casos  casos_novos  obitos  obitos_novos
1996268  Botucatu    SP 2020-04-04      7            7       0             0
1996368  Botucatu    SP 2020-04-05      7            0       0             0
1996472  Botucatu    SP 2020-04-06      7            0       0             0
1996586  Botucatu    SP 2020-04-07      8            1       0             0
1996714  Botucatu    SP 2020-04-08      9            1       1             1
...           ...   ...        ...    ...          ...     ...           ...
2265248  Botucatu    SP 2021-06-24  13433           26     265             1
2265895  Botucatu    SP 2021-06-25  13782          349     265             0
2266542  Botucatu    SP 2021-06-26  14302          520     268             3
2267189  Botucatu    SP 2021-06-27  14310            8     268             0
2267836  Botucatu    SP 2021-06-28  14310            0     268             0

[451 rows x 7 columns]

In [ ]:
lista =['Botucatu', 'Tatuí', 'Jaú', 'Avaré']

In [ ]:
cidades_vizinhas = dados_sp.query('city in @lista')

In [ ]:
dados_coordenadas = pd.read_csv('https://raw.githubusercontent.com/seade-R/dados-covid-sp/master/data/dados_covid_sp.csv', sep=';', thousands=".", decimal=",")

In [ ]:
dados_coordenadas = dados_coordenadas.query('nome_munic != "Ignorado"')

In [ ]:
dados_coordenadas = dados_coordenadas[['nome_munic', 'datahora','latitude', 'longitude', 'casos', 'obitos', 'casos_pc', 'obitos_pc']]

In [ ]:
dados_botucatu_sp= dados_coordenadas.copy().query('nome_munic == "Botucatu"')

In [ ]:
dados_botucatu_sp.tail()

       nome_munic    datahora  latitude  ...  obitos      casos_pc   obitos_pc
315490   Botucatu  2021-06-28  -22.8837  ...     268  10238.424204  189.889113
316135   Botucatu  2021-06-29  -22.8837  ...     270  10618.910972  191.306196
316780   Botucatu  2021-06-30  -22.8837  ...     271  10737.237397  192.014738
317425   Botucatu  2021-07-01  -22.8837  ...     271  11112.055833  192.014738
318070   Botucatu  2021-07-02  -22.8837  ...     272  11683.848797  192.723279

[5 rows x 8 columns]

In [ ]:
dados_coordenadas = dados_coordenadas.query('datahora == "2021-06-30"')

In [ ]:
dados_coordenadas.head()

              nome_munic    datahora  ...      casos_pc   obitos_pc
316695        ADAMANTINA  2021-06-30  ...   9801.144745  306.838969
316696            ADOLFO  2021-06-30  ...  15288.656803  406.150276
316697             AGUAÍ  2021-06-30  ...   8557.065828  266.793979
316698    ÁGUAS DA PRATA  2021-06-30  ...   7310.504040  282.159805
316699  ÁGUAS DE LINDÓIA  2021-06-30  ...  10090.345053  234.026342

[5 rows x 8 columns]

In [ ]:
vacinacao= pd.read_csv("/content/20210701_percentual_primeira_dose.csv",  sep=';', thousands=".", decimal=",")

In [ ]:
vacinacao = vacinacao[['Município','% da população geral', 'Doses Aplicadas - D1', 'População']]

In [ ]:
mapa = {'Município': 'nome_munic', '% da população geral':'porcentagem_vacinada', 'Doses Aplicadas - D1': 'doses_aplicadas', 'População': 'populacao'}
vacinacao.rename(columns=mapa, inplace=True)

In [ ]:
vacinacao.head()

   nome_munic  porcentagem_vacinada  doses_aplicadas  populacao
0    BOTUCATU              0.817694           121125     148130
1     SERRANA              0.756989            34552      45644
2   TURMALINA              0.699882             1187       1696
3  FLORA RICA              0.668531              956       1430
4         URU              0.667823              770       1153

In [ ]:
dados_coordenadas['nome_munic']= dados_coordenadas['nome_munic'].str.upper()

In [ ]:
vacinacao_sp = vacinacao.merge(dados_coordenadas, on='nome_munic')

In [ ]:
vacinacao_sp.head()

   nome_munic  porcentagem_vacinada  ...      casos_pc   obitos_pc
0    BOTUCATU              0.817694  ...  10737.237397  192.014738
1     SERRANA              0.756989  ...   9562.497187  200.297070
2   TURMALINA              0.699882  ...   9362.880886  221.606648
3  FLORA RICA              0.668531  ...   7614.852108  251.730648
4         URU              0.667823  ...  12924.606462  248.550124

[5 rows x 11 columns]

In [ ]:
vacinacao_sp.to_csv('vacinacao_sp.csv', index=False)

In [ ]:
dados_botucatu.to_csv('dados_botucatu.csv', index= False)

In [ ]:
cidades_vizinhas.to_csv('cidades_vizinhas.csv', index = False)

In [ ]:
dados_botucatu_sp.to_csv('dados_botucatu_sp.csv', index= False)

In [ ]:
dados_sp.to_csv('dados_sp.csv', index=False)

In [ ]:
files.download('vacinacao_sp.csv')

In [ ]:
files.download('dados_botucatu.csv')

In [ ]:
files.download('dados_botucatu_sp.csv')

In [ ]:
files.download('cidades_vizinhas.csv')

In [ ]:
files.download('dados_sp.csv')